<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eqFrequencies</key>
	<array>
		<real>32</real>
		<integer>64</integer>
		<integer>125</integer>
		<integer>250</integer>
		<integer>500</integer>
		<integer>1000</integer>
		<integer>2000</integer>
		<integer>4000</integer>
		<integer>8000</integer>
		<integer>16000</integer>
	</array>
	<key>eqValues</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
</dict>
</plist>
