<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://sc1.111ttt.com/2015/1/05/30/98301322549.mp3</string>
	<string>http://sc.111ttt.com/up/mp3/337527/BBBA1C61FBA9AA8E6B5784C791228602.mp3</string>
	<string>http://sc1.111ttt.com/2015/1/02/27/95272139340.mp3</string>
	<string>http://mobileapi.5sing.kugou.com/song/transcoding?songid=12626585&amp;songtype=fc&amp;bitrate=128</string>
	<string>http://mobileapi.5sing.kugou.com/song/transcoding?songid=12946453&amp;songtype=fc&amp;bitrate=128</string>
	<string>http://mobileapi.5sing.kugou.com/song/transcoding?songid=2444839&amp;songtype=yc&amp;bitrate=128</string>
</array>
</plist>
